.login{
	width: 400px;
	height: 250px;
	border: rgba(0, 0, 0, 1) solid 2px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	margin: auto;

}

.text{
	width: 200px;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	border-style: solid;
}

.logbt{
	width: 205px;
	height: 35px;
	border-radius: 8px;
	margin-top: 10px;
	background-color: white;
	outline: 0;
	border-color: black;
}

.information{
	margin: 55px auto;
	position: relative;
	left: 23%;

}

a{
	color: black;
	font-size: 15px;
	font-weight: bolder;
}

body{
	/*background-color: #D8DBE2;*/
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}
